
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Mulish', sans-serif;
  }

  :root{
    --Boldfont-size: 40px;
    --common-color: #FF5400;
    --common-color2: rgba(219, 213, 203, 0.05);
  }

  .nav-section{
    margin: 0 auto;
    width: 80%;
    min-height: 100px;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 10px;
  }


  /* nave bar style */
  .logo img{
    font-size: 100px;
  }
  .nav-manue{
    margin-left: 20px;
    margin-right: 10px;
  }

    .nav-manue a{
    justify-content: space-evenly;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(96, 59, 8);
    cursor: pointer;
  }

  .bar{
    display: none;
  }

  .nav-manue a:hover{
    color: rgb(121, 65, 43);
    font-size: 22px;
    
  }

  .nav-manue a .nav-home{
    color: var(--common-color);
  }

  .nav-content h1{
    font-size: var(--Boldfont-size);
  }
  .travel-color{
    color: var(--common-color);
  }

/* header section style */


.header-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 500px;
    /* border: 2px solid tomato; */
    background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 30px;
}

.header-content{
margin-top: 12%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.header-content h1{
    font-size: 50px;
    color: rgb(193, 78, 145);
}

.header-content p{
    width: 700px;
    font-size: 22px;
    align-items: center;
    color:rgb(255, 255, 255) ;
}

.header-input{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-left: 18%;
    /* border: 2px solid tomato; */
    width: 830px;
    padding: 20px;
    background: rgba(190, 178, 175, 0.5);
    border-radius: 10px;     
}

.header-input input{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.commo-btn{
    text-decoration: none;
    background-color: var(--common-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.commo-btn:hover{
    font-size: 18px;
background-color: brown;
color: azure;
transition: .5s;
}

/* icon missing in input */

/* main section style */

.main-section{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top:50px;
}


.popular-tour{
    margin-right: 30px;
}

.popular-title{
    font-size: var(--Boldfont-size);
    color: var(--common-color);
}
.popular-tour p{
    margin-top: 15px;
    font-size: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.popular-tour ul li{
    padding-bottom: 11px;
    font-size: 20px;
    margin-bottom: 20px;
}

.tour-p-text{
    margin-bottom: 20px;
    
}

.popular-tour-image{
    width: fit-content;
    align-content: center;
    align-items: center;
    
}

.destination-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 50px;
    text-align: justify;
}

.destination-section h1{
    font-size: var(--Boldfont-size);
    color: var(--common-color);
    text-align: center;
    margin-bottom: 10px;
}

.destination-section p{
    font-size: 20px;
}

.main img{
   min-width:700px; 
    height: 300px;
}

.main{
    margin: 0 auto;
    margin-top:50px;
    width: 80%;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;

}

/* .main:nth-child(6){
   grid-column-start:1;
   grid-column-end:2 ; 
} */

/* .main:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3; 
 } */


/* image part not done */


/* why choose */

.whychoose-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 50px;
    text-align: justify;
}

.whychoose-section h1{
    font-size: var(--Boldfont-size);
    color: var(--common-color);
    text-align: center;
    margin-bottom: 10px;
}

.destination-section p{
    font-size: 20px;
}


/* service section */

.service-section{
    margin: 0 auto;
    width: 1250px;
    padding: 20px;
    justify-content: center;
    margin-top: 0px;
    min-height: 700px;
    /* border: 2px solid tomato; */
}

.service-section img{
    width: 100px;
    border-radius: 50%;
}

.Worldclass-hotel{
    padding-left: 20px;
    margin-right: 50px;
    background-color: antiquewhite;
    width: 700px;
    height: 280px;
    margin-top: 40px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.Worldclass-hotel img{
padding-top: 8px;
height: 90px;
}

.Worldclass-hotel h1{
    font-size: 38px;
    padding-top: 5px;
}

.worldclass-services{
    padding-top: 15px;
    background-color: rgb(135, 173, 191);
    margin-top: 40px;
    width: 700px;
    height: 280px;
    padding-left: 20px;
    border-radius: 10px;
}

.worldclass-services h1{
    font-size: 38px;
    padding-top: 5px;
}

.service-sectio-1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.service-section > .price-gurantee{
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
align-content: center;
margin-left: 25%;
}

.price-gurantee{
    padding-top: 15px;
    background-color: antiquewhite;
    margin-top: 30px;
    width: 575px;
    padding-left: 20px;
    border-radius: 10px;
    height: 280px;
    
}

.price-gurantee h1{
    font-size: 38px;
    margin-top: 5px;
}


/* video-section */

.video-section{
    margin: 0 auto;
    width: 1250px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    padding-left: 20px;
}


.Simple-Perfect h1{
    color: var(--common-color);
    font-size: 40px;
    padding-right: 15px;
    text-align: left;
}

.Simple-Perfect-text{
    padding-top: 10px;
    font-size: 20px;
    padding-right: 15px;
    text-align: justify;
}

.Simple-Perfect ul{
    padding-top: 10px;
    padding-right: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}


/* newsletter  */

.newsletter-section{
    margin: 0 auto;
    margin-top: 40px;
    width: 1250px;
    display: flex;
    flex-direction: row;
}

.newsletter-content{
    border: 1px solid var(--common-color);
    border-radius: 10px;
    margin-right: 10px;
    padding: 15px;
}

.newsletter-content h1{
    margin-top: 5px;
    font-size: var(--Boldfont-size);
    margin-left: 3%;
}

.newsletter-content p{
    margin-left: 3%;
    font-size: 20px;
    }

.newsletter-input{
    width: 370px;
    /* padding-top: 8px; */
    font-size: 30px;
    padding-bottom: 10px;
    margin-top: 40px;
}


.Subscribe-btn{
    margin-left: 3%;
    text-decoration: none;
    background-color: var(--common-color);
    border: none;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.Subscribe-btn:hover{
    font-size: 18px;
    background-color: brown;
    color: azure;
    transition: .5s;
}


.newsletter-image{
    position: relative;
}

.newsletter-image img{
    height: 99%;
    /*margin-left: 150px;*/
}
.newsletter-textdiv{
    position: absolute;
    top: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 20px;
    background-color: var(--common-color);
    border-radius: 10px;
    color: rgb(11, 53, 91);
    transform: rotate(-25deg);
}

.newsletter-textdiv h3, h2{
    text-align: center;

}








/* footer  */
.footer-section{
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:rgb(229, 229, 226);
}

.foooter-content{
    padding: 15px;
    text-align: center;
}

.foooter-content p{
    margin-top: 15px;
    width: 700px;
    font-size: 20px;
    text-align: justify;
}
.footer-icon{
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.footer-icon i{
    margin-right: 15px;
}

hr{
    font-size: 20px;
    color: lightcoral;
    margin-top: 40px;
    margin-bottom: 10px;
}

.last-text{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.last-text p{
    text-align: center;
}

 @media screen  and (max-width: 900px) {
    
}


@media screen  and (max-width: 600px) {
    .nav-section, .nav-manue, .header-input, .main-section, .service-sectio-1, .video-section, .newsletter-section{
        display: flex;
        flex-direction: column;
    }

    .nav-manu-title{
        display: none;
    }

    .bar{
        display: flex;
    }

    .nav-section{
        display: flex;
        flex-direction: row;
    }

    .nav-content h1{
        font-size: 25px;
    }

    .header-section, .header-content, .price-gurantee{
        display: flex;
        flex-direction: column; 
    }

    .header-section .header-content p{
        width: 300px;
    }

    .header-input, .whychoose-section, .Simple-Perfect, .newsletter-section {
        width: 500px;
        padding-right: opx;
        margin-left: 20px;
        margin-right: 10px;
    }

    .destination-section p{
        width: 500px;
        text-align: justify;
        margin-left: 35px;

    }

    .destination-section h1{
        margin-left: 0px;
        padding-left: 0px;
    }

    .main{
        display: flex;
        flex-direction: column;
        row-gap: 1px;
        column-gap: 1px;
    }

    .worldclass-services, .Worldclass-hotel{
        width: 530px;
        height: 280px;
    }

    .footer-section{
        width: 600px;
        text-align: center;
    }

    .footer-section p{
        width: 400px;
    }
        
    





}

