
  @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Mulish', sans-serif;
  }

  :root{
    --Boldfont-size: 40px;
    --common-color: #FF5400;
    --common-color2: rgba(219, 213, 203, 0.05);
  }

  .nav-section{
    margin: 0 auto;
    width: 1250px;
    min-height: 100px;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 10px;
  }


  /* nave bar style */
  .logo img{
    font-size: 100px;
  }
  .nav-manue{
    margin-left: 20px;
    margin-right: 10px;
  }

    .nav-manue a{
    justify-content: space-evenly;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(96, 59, 8);
    cursor: pointer;
  }

  .nav-manue a:hover{
    color: rgb(121, 65, 43);
    font-size: 22px;
    
  }

  .nav-manue a .nav-home{
    color: var(--common-color);
  }

  .nav-content h1{
    font-size: var(--Boldfont-size);
  }
  .travel-color{
    color: var(--common-color);
  }

/* header section style */


.header-section{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1250px;
    min-height: 500px;
    /* border: 2px solid tomato; */
    background-image: url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.header-content{
margin-top: 12%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.header-content h1{
    font-size: 50px;
    color: rgb(193, 78, 145);
}

.header-content p{
    width: 700px;
    font-size: 22px;
    align-items: center;
    color:rgb(255, 255, 255) ;
}

.header-input{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-left: 18%;
    /* border: 2px solid tomato; */
    width: 830px;
    padding: 20px;
    background: rgba(190, 178, 175, 0.5);
    border-radius: 10px;     
}

.header-input input{
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.commo-btn{
    text-decoration: none;
    background-color: var(--common-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.commo-btn:hover{
    font-size: 18px;
background-color: brown;
color: azure;
transition: .5s;
}

/* icon missing in input */








@media screen  and (max-width: 600px) {
    .nav-section, .nav-manue, .header-section, .header-input{
        display: flex;
        flex-direction: column;
    }

}

